Content/4K_WoodFlooring/
Content/Developers/
Content/ModularBuildingSet/
Content/PN_Pandanus/
Content/TrueSky/
Content/TwinmotionMaterials/
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
